<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <header class="navbar navbar-dark bg-dark navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "sample app", '#', id: "logo", class: "navbar-brand" %>
        <nav>
          <ul class="navbar-nav ms-auto d-flex flex-row">
            <li class="nav-item"><%= link_to "Home", '#', class: "nav-link px-3" %></li>
            <li class="nav-item"><%= link_to "Help", '#', class: "nav-link px-3" %></li>
            <li class="nav-item"><%= link_to "Log in", '#', class: "nav-link px-3" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

